server:
  port: 8899

keycloak:
  realm: master
  auth-server-url: http://localhost:8080/auth/
  resource: health-app
  public-client: true
  ssl-required: external


app:
  keycloak:
    username: admin
    password: admin
    grant-type: password
    baseUrl: http://localhost:8080/auth/
